<!--
  Generated template for the MyClubPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MyClubPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button block >Add Member</button>
  <button ion-button block >Event</button>
</ion-content>
