<!--
  Generated template for the ClubPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ClubPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <button ion-button block (click)="createPage()">Create Club</button>
  <button ion-button block (click)="MyClub()">My Club</button>

</ion-content>
