<!--
  Generated template for the CreateClubPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CreateClubPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

  <ion-item>
    <ion-input type="text" value="" placeholder="Nama Klub"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" value="" placeholder="Kota"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" value="" placeholder="Tempat Berlatih"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" value="" placeholder="Kontak Perusahaan"></ion-input>
  </ion-item>
  
  <button ion-button block>Create</button>
</ion-list>

</ion-content>
