<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>AccountPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button block color="danger">Log Out</button>
</ion-content>
